body{
    color : white; 
    background-color: rgb(9, 82, 3);
    
}

.heading {
    width : 80%;
    font-size: 22px;
}

#camera{
    border:2px dashed white;
    width : 350 px;
    height:  300 px;

}

.name_of_ppl, #result_object_name, #result_object_accuracy{    
   color:rgb(242, 255, 126); 
}
